html,body{
	height:100%;
	font-size:100%;
	padding: 0;
	margin: 0;
}

body{
	background: #fbfbfb url(images/html.svg) no-repeat fixed right;
	background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	/* overflow:hidden; */
}

div{
	padding: 0;
	margin: 0;
}

nav{
	position:fixed;
	width: 100%;
	background-color: #ffffff;
	margin: 32px 0 0 0;
	padding: 0;
	overflow:hidden;
	
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    clear:left;
  	float:left;
	position:relative;
	left:50%;
}

nav li {
    float: left;
    position:relative;
	right:50%;
	text-align: center;
}

nav li a{
	display: block;
	margin: 0;
    padding: 12px 24px;
	text-decoration:none;
	font-weight:bold;
	font-size: 2em;
	color: black;
}

nav li a:active{
	background-color: #f0f0f0;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
    clear: both;
}

.cf {
    *zoom: 1; /* IE 6/7 fix */
}

h1{
	font-size: 3em;
	text-align: center;
    margin: 0;
}
h1 > strong{
	font-size: 1.5em;
}

h2{
	margin: 0;
}

div#main{
	height: 100%;
}

div.sliding-content{
	padding: 0;
	margin: 0;
	min-height: 100%;
}

div.inner{
	padding: 120px 0;
	margin: 0;
}

div#home{
	padding: 4% 0;
	margin: 0;
}

div#about, div#portfolio, div#contact{
	margin: 0;
	padding: 0 20% 0 20%;
	font-size:1.4em;
}

div ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

div#portfolio ul, div#contact ul{
	padding: 1em 0;
}

@media only screen and (max-width: 800px) {
	nav li a{ font-size: 1.6em; padding: 12px 20px;}
	h1 { font-size: 2em; }
}

@media only screen and (max-width: 600px) {
	nav li a{ font-size: 1.3em; padding: 12px 16px}
	h1 { font-size: 1.5em; }
}

@media only screen and (max-width: 420px) {
	nav li a{ font-size: 1em; padding: 12px 12px;}
	h1 { font-size: 1em; }
}