* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html,body{
	height:100%;
	font-size:100%;
	padding: 0;
	margin: 0;
}

body{
	background: #fbfbfb; /* url(images/html.svg) no-repeat fixed right;
	background-size: auto 100%;
   -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%; */
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	/* overflow:hidden; */
}

img{
	max-width:100%;
	height: auto;
}

/** Navigation code */
nav{
	position:fixed;
	width: 100%;
	background-color: #ffffff;
	margin: 32px 0 0 0;
	padding: 0;
	overflow:hidden;
	
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    clear:left;
  	float:left;
	position:relative;
	left:50%;
}

nav li {
    float: left;
    position:relative;
	right:50%;
	text-align: center;
}

nav a{
	display: block;
	margin: 0;
    padding: 12px 24px;
	font-weight:bold;
	font-size: 2em;
	text-decoration:none;
	color: #777777;;
}

nav a.active{
	color: black;
	background-color: #f0f0f0;
}

/* End navigation code */
.cf:before,
.cf:after {
    content: " ";
    display: table;
    clear: both;
}

.cf {
    *zoom: 1; /* IE 6/7 fix */
}

div{
	padding: 0;
	margin: 0;
}

div ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

h1{
	font-size: 3em;
	text-align: center;
    margin: 0;
}
h1 > strong{
	font-size: 1.5em;
}

h2{
	margin: 0;
}

#main{
	height: 100%;
}

#main a{
	text-decoration:none;
	color: #1133bb;
}

#main a:hover{
	text-decoration:underline;
}

#main a:visited{
}

div.sliding-content{
	padding: 0;
	margin: 0;
	min-height: 100%;
}

div.inner{
	padding: 120px 0 0 0;
	margin: 0;
}

#home{
	padding: 8em 0 0 0;
	margin: 0;
}

#about, #portfolio, #contact{
	margin: 0;
	padding: 0 20% 0 20%;
	font-size:1.4em;
}

#portfolio ul, #contact ul{
	padding: 0;
}

#portfolio h2{
	padding: 0;
	margin: 0 0 .5em 0;
	display:block;
}

#portfolio h2 a{
	color: black;
}

#portfolio h2 a:hover{
	text-decoration: none;
}

#portfolio img{
	float: left;
	max-width: 50%;
	border: 2px solid black;
}

#portfolio .description{
	padding: 0 0 0 5%;
	margin: 0;
	float: right;
	display: inline-block;
	width: 50%;
}

#portfolio ul li{
	text-align:left;
	margin-bottom: 1em;
}

/* Contact Form*/
#contact {
	font-size: 1.5em;
}
#contact h1{
	font-size: 2em;
	padding-bottom: 1em;
}
#email span{
	display: none;
}

#contact-left {
	float: left;
	margin: 0;
	width: 50%;
}

#contact-right {
	padding: 0 0 0 5%;
	margin: 0;
	float: right;
	width: 50%;
}

form input, form textarea{
	display:block;
	width:100%;
}

form input#cemail, form textarea{
	margin: 12px 0 0 0;
}

form .submit {
	margin: 12px 0;
}
@media only screen and (max-width: 1024px) {
	#about, #portfolio, #contact{
		padding: 0 15% 0 15%;
	}
	#contact{
		font-size: 1.1em;
	}
}

@media only screen and (max-width: 800px) {
	nav li a{ font-size: 1.6em; padding: 12px 20px;}
	h1 { font-size: 2em; }
	#about, #portfolio, #contact{
		padding: 0 10% 0 10%;
	}
	#portfolio h2 { font-size: 1em; }
	#portfolio .description{ font-size: 0.8em; }
}

@media only screen and (max-width: 600px) {
	nav{
	margin: 0 0 0 0;
	}
	nav li a{ font-size: 1.3em; padding: 12px 16px}
	h1 { font-size: 1.5em; }
	div.inner{ padding: 60px 0 0 0; }
	#portfolio img{
		float: none;
		max-width: 100%;
		border: 2px solid black;
	}
	#portfolio .description{ float:none; display: block; width:100%;}
	#contact h1{
		font-size: 1.5em;
		padding: .5em 0;
	}
	#contact-left, #contact-right{
		font-size: 1.4em;
		float: none;
		padding: 0;
		width: 100%;
		text-align: center; 
	}
	#contact #contact-left{ padding-bottom:1em;}
}

@media only screen and (max-width: 420px) {
	div.inner{ padding: 50px 0 0 0; }
	nav li a{ font-size: 1em; padding: 10px;}
	h1 { font-size: 1em; }
	#contact h1{
		font-size: 1em;
		padding: .5em 0;
	}
	#contact-left, #contact-right {font-size: 1em;}
}